/* ==========================================
   MAIN.CSS - Variables, reset, tipografia
   ========================================== */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #0a0f1e;
    color: #dbe2fd;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}